* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  /* outline: #e2e2e2; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;
  flex-direction: column; */
  background-color: #e2e2e2;
}

.chart {
  font-size: 1.4rem;
  margin: 6rem auto;
  background-color: #fff;
  padding: 3rem;
  max-width: 35rem;
  text-align: center;
}

.bal {
  font-size: 3.2rem;
  /* margin-bottom: 1.5rem; */
}

.income,
.expense {
  display: flex;
  /* color: #fff; */
  justify-content: space-between;
  margin: 0.8rem;
  padding: 1.5rem;
}

.income {
  background-color: rgb(65, 185, 255);
  margin-top: 1.5rem;
}

.expense {
  color: #fff;
  background-color: rgb(255, 99, 71);
}

.perc {
  background-color: red;
  color: #fff;
  padding: 0.2rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

form {
  background-color: #fff;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  padding: 2rem;
}

input,
select {
  padding: 1rem;
}

.amt {
  width: 10rem;
}

.btn {
  background-color: rgb(65, 185, 255);
  border: none;
  padding: 1rem;
  color: #ffff;
}

.inc-exp-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  justify-content: space-between; */
  position: relative;
  margin: 2rem;
  gap: 6rem;
}

.exp,
.inc {
  /* margin-right: auto; */
  font-size: 2rem;
}

ul {
  list-style: none;
  margin-top: 1.2rem;
}

.income-list,
.expense-list {
  text-align: center;
  width: 35rem;
}

.income-list {
  margin-left: auto;
}

.expense-list {
  margin-right: auto;
}

.ex-spn,
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cac6c6;
  padding: 0.5rem;
}

li span {
  font-size: 1.5rem;
}

.inc-li {
  margin-bottom: 1rem;
  padding: 1rem;
}

.exp-li {
  margin-bottom: 1rem;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.init-msg {
  padding: 11.5rem;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

.btn-div {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.btn {
  cursor: pointer;
}

.dlt-all-btn {
  padding: 1rem;
  background-color: rgb(255, 99, 71);
  border: none;
  color: #fff;
  margin-bottom: 5rem;
}
